{% comment %}This is obvious, it takes the Product Type and pluralizes it, then makes it into a variable "pluralType" {% endcomment %}

{% if product.type == "Patch" %}
	{% capture pluralType %}{{ product.type | append: 'es' | downcase }}{% endcapture %}
{% elsif product.type != "Patch" %}
	{% capture pluralType %}{{ product.type | append: 's' | downcase }}{% endcapture %}
{% endif %}

{% comment %} This rewrites the URLs for the Paranormal Places collections, which are 'travel-patches', not '-patches'  {% endcomment %}

{% if product.type == "Patch" and product.metafields.sort.set == "Paranormal Places" %}
	{% capture productType %}{{ product.type | prepend: 'travel ' | append: 'es' | downcase }}{% endcapture %}
	{% elsif product.type == "Sticker" and product.metafields.sort.set == "Paranormal Places" %}
		{% capture productType %}{{ product.type | prepend: 'travel ' | append: 's' | downcase }}{% endcapture %}
{% else %}
{% assign productType = pluralType %}
{% endif %}

{% comment %} This displays dynamic links back to the Set Collections; the Set is pulled from a custom metafield. It only displays if the metafield isn't blank. {% endcomment %}

<div>
{% if product.metafields.sort.set != blank %}
<p>
Part of the <a href="/collections/{{product.metafields.sort.set | handleize}}" title="{{product.metafields.sort.set}} patches, stickers, t-shirts, prints, buttons, and more">
{{product.metafields.sort.set}}</a> series.

See more <a href="/collections/{{product.metafields.sort.set | handleize}}-{{ productType | handleize }}" title="{{product.metafields.sort.set}} {{ productType }}">
{{product.metafields.sort.set}} {{ productType }}</a>.

</p>
{% endif %}

{% comment %} This refers to a product tag, '_main_collection', and if present it displays the dynamic links a certain way; if not, it constructs thm an alternate way. If the tag is present, that mans there are dedicated Collections for the stickers and patches. These are only made for the more popular collections.  {% endcomment %}

<p>
{% if product.tags contains '_main_collection' and product.metafields.sort.creature != blank %}
{% if product.type == "Patch" or product.type == "Sticker" %}
Be sure to check out the other <a href="/collections/{{product.metafields.sort.creature | handleize}}-{{ pluralType }}" title="{{product.metafields.sort.creature}}
{{ pluralType }}">
{% else %}

{% comment %} This will generate a dynamic Collection link, with a Filter applied that sorts by Product Type. {% endcomment %}

Be sure to check out the other <a href="/collections/{{product.metafields.sort.creature | handleize}}?filter.p.product_type={{product.type | url_encode }}" title="{{product.metafields.sort.creature}}
{{ pluralType }}">
{% endif %}
{{product.metafields.sort.creature}} {{ pluralType }}</a>, and all the <a href="/collections/{{product.metafields.sort.creature | handleize}}" title="{{product.metafields.sort.creature | handleize}} patches, stickers, t-shirts, prints, buttons, and more">
{{product.metafields.sort.creature}} items</a>.
{% else %}
{% comment %} This isn't required (I think) because dynamic patch links go to metafieldTheme/product-typeTag links ("/cryptozoology/patch")
{% if product.type == "Patch" %}
	{% capture productType %}{{ product.type | prepend: 'embroidered-' | append: 'es' | downcase }}{% endcapture %}
{% else %}
{% assign productType = pluralType %}
{% endif %}
{% endcomment %}

{% comment %} This dynamic link will dirct to a Theme Collection, Filtered by the Creature type assigned in a metafield, if that Creature field is not blank.    {% endcomment %}

{% if product.metafields.sort.creature != blank %}
You must check out all the other <a href="/collections/{{product.metafields.sort.theme | handleize}}?filter.p.m.sort.creature={{product.metafields.sort.creature | url_encode }}" title="{{product.metafields.sort.creature}} patches, stickers, t-shirts, prints, buttons, and more">
{{product.metafields.sort.creature}} items</a>.
{% endif %}
</p>
{% endif %}

{% comment %} This generates a dynamic link for the Collections with dedicated sticker and patch collections. Only if the product matches the Sticker or Patch product type. {% endcomment %}

{% if product.metafields.sort.theme != blank and product.type == "Patch" or product.type == "Sticker" %}
<p>More: all the <a href="/collections/{{product.metafields.sort.theme | handleize}}-{{ pluralType }}" title="{{product.metafields.sort.theme}}
{{ pluralType }}">{{product.metafields.sort.theme}} {{ pluralType }}</a>
{% else %}

{% comment %} This generates a generic Theme collection link, using Product Type to filter. For products in collections that do not have dedicated Patch and Sticker collections.  {% endcomment %}

<p>More: all the <a href="/collections/{{product.metafields.sort.theme | handleize}}?filter.p.product_type={{product.type | url_encode }}" title="{{product.metafields.sort.theme}}
{{ pluralType }}">
{{product.metafields.sort.theme}} {{ pluralType }}</a>
{% endif %}

{% comment %} Generic dynamic link that just links back to the Product Type collections on the shop.   {% endcomment %}

 and <a href="/collections/{{product.metafields.sort.theme | handleize}}" title="{{product.metafields.sort.theme}} patches, stickers, t-shirts, prints, buttons, and more">
{{product.metafields.sort.theme}} items</a>, and all the {{shop.name}}<a href="/collections/{{ pluralType }}" title="all {{shop.name}} {{ pluralType }}">
{{ pluralType }}</a>.
</p>
</ div>
